// 서브페이지 카테고리 버튼형태
.sec-1-title {
    p {
        display: flex;
        padding: 12px;
        margin: 20px;
        background: #144d37;
        border-radius: 20px;
        color: white;
    }
}
.sec-option {
    .s1_inner {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
        .sec-1-title {
            display: flex;
            justify-content: center;
        }
        .button {
            display: block;
            font-size: 100%;
            vertical-align: middle;
            border: 0 none;
            background-color: transparent;
            cursor: pointer;
        }
    }
} // 서브페이지 배너

// .product-mainvisual {
//     position: relative;
//     width: 100%;
//     max-width: 100%; /* 부모 너비 설정 */
// }

.product-mainvisual {
    .s1_inner {
        position: relative;
    }
    .product_cont {
        img {
            width: 100%;
            // display: block;
        }
    }
    .text-area {
        position: absolute;
        top: 50%; /* 수직 중앙 정렬 */
        left: 20%; /* 수평 중앙 정렬 */
        transform: translate(-50%, -50%); /* 중앙에 맞추기 위해 이동 */
        color: white; /* 텍스트 색상 */
        text-align: left;
        // background: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 (옵션) */
        // padding: 10px; /* 텍스트 배경 안쪽 여백 */
        // border-radius: 5px; /* 배경 모서리 둥글게 */
        strong {
            font-size: 20px; /* 제목 글자 크기 */
        }
        p {
            font-size: 14px; /* 부제목 글자 크기 */
        }
    }
}

// 제품 카드 설정
.sec-1.sec-list {
    padding: 20px;
}

.s1_inner {
    max-width: 1200px;
    margin: 0 auto;
}

.sec-1-cont .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sec-1-cont .list li {
    flex: 1 1 calc(50% - 20px); /* 2 columns */
}

.item {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item a img {
    width: 100%;
    height: auto;
    display: block;
}

.text-ara {
    padding: 15px;
}

.text_ara__tit {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.text_ara__tit span {
    font-size: 0.9rem;
    color: #666;
}

.text-ara__cont {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
}

.text-ara__cont strong {
    color: #333;
}

/* 반응형 설정 */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .sec-1-cont .list li {
        flex: 1 1 calc(50% - 20px); /* 2 columns */
    }
}

@media screen and (min-width: 1024px) {
    .sec-1-cont .list li {
        flex: 1 1 calc(33.33% - 20px); /* 3 columns */
    }
}
// @media screen and (max-width: 1024px) {
//     .sec-1-cont .list li {
//         flex: 1 1 calc(50% - 20px); /* 2열 */
//     }
// }

// @media screen and (max-width: 560px) {
//     .sec-1-cont .list li {
//         flex: 1 1 100%; /* 1열 */
//     }
// }
