// 사이트 컨텐츠 내용
.slide-intro {
    .swiper-slide {
        position: relative;
        &.swiper-slide-active {
            .text-area {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }

        img {
            object-position: 50% 100%;
        }
        .text-area {
            position: absolute;
            top: 80%;
            left: 40%;
            transform: translate(-50%, 0);
            width: 70%;
            max-width: 400px;
            opacity: 0;
            transition: all 0.5s;
            // .text-area__tit
            &__tit {
                font-size: 2.6rem;
                color: $white;
                @include DMSerifDisplay;
                font-weight: $font-medium;
            }
            &__cont {
                color: $white;
                font-size: 18px;
            }
            &__goto {
                font-size: 12px;
                display: inline-block;
                margin-top: 10px;
                padding: 5px 20px;
                background: $primary-80;
                color: $white;
                border-radius: 7px;
            }
        }
        img {
            height: 70vh;
        }
    }
    .swiper-pagination {
        display: none;
    }
}
// .best_card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// section1-best sellers
.sec-bestseller {
    .sec-g_tit {
        font-size: 30px;
        color: #123456; /* Adjust color as needed */
        margin-bottom: 10px;
    }
}
.slide-best {
    // display: flex;
    max-width: 370px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    align-items: center;

    .text-ara {
        strong {
            font-size: 16px;
            color: #000;
            font-weight: bold;
            margin: 15px 0 5px;
        }
        span {
            font-weight: normal;
            font-size: 14px;
            color: #555;
        }
        p {
            font-size: 14px;
            color: #777;
        }
    }
    // .text_ara__tit strong {
    //     font-size: 16px;
    //     color: #000;
    //     font-weight: bold;
    //     margin: 15px 0 5px;
    // }
    // .text_ara__tit span {
    //     font-weight: normal;
    //     font-size: 14px;
    //     color: #555;
    // }
    // .text-ara p {
    //     font-size: 14px;
    //     color: #777;
    // }
    .page-indicator {
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        font-size: 12px;
    }
    .dot.active {
        background-color: #144d37; /* Adjust active dot color */
    }
    .pagination-dots {
        display: flex;
        justify-content: center;
    }
}
.dot.active {
    background-color: #123456; /* Adjust active dot color */
}

// section2-face type
.sec-type {
    .sec-g__cont p {
        font-size: 13px;
        margin-left: 10px;
    }
}

// section3-category
.category_card {
    .category_img img {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        border-radius: 15px;
    }
    .category h3 {
        font-size: 25px;
        color: $primary-80;
        height: 58px;
    }
    .category_info {
        color: #fff;
    }
    .category_info h3 {
        font-size: 16px;
        font-weight: bold;
    }
    .category_info p {
        font-size: 12px;
    }
    .category_img {
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }
}

// gift card
.sec-gift {
    .seg-__tit {
        font-size: 25px;
        color: $primary-80;
        height: 58px;
    }

    .sec-g__cont {
        width: 100%;
        height: auto;
        background-size: cover;
        border-radius: 15px;
        transition: opacity 0.3s ease;
        margin-top: 10px;
    }
    .sec-g__cont p {
        font-size: 13px;
    }
}

// service

.sec-service {
    .sec-g__card {
        width: calc(50% - 10px); /* 50% width minus half the gap to center the cards */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #144d37;
        border-radius: 20px;
        color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        img {
            width: 100%;
            border-radius: 10px; /* Adjust as needed for rounded corners */
        }
    }
}

// 섹션 타이틀 문구 한번에 수정 가능
.inner .sec-g__tit {
    font-size: 1.6875rem;
    margin-bottom: 5px;
    // padding: px;
    color: #0e2b5e;
}
// .card {
//     width: calc(50% - 10px); /* 50% width minus half the gap to center the cards */
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: #144d37;
//     border-radius: 20px;
//     color: white;
//     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
//     img {
//         width: 100%;
//         border-radius: 10px; /* Adjust as needed for rounded corners */
//     }
// }

// tablet
@media screen and (min-width: 600px) {
    .slide-intro .swiper-slide img {
        height: 100vh;
        width: 100%;
    }
    .slide-intro .swiper-slide .text-area {
        text-align: center;
        left: 50%;
        top: 50%;
        .text-area__tit {
            font-size: 40px;
        }
        .text-area__cont {
            font-size: 2rem;
        }
        .text-area__goto {
            margin-top: 30px;
        }
        .inner {
            padding: 0px 15px;
        }
    }

    .type_img p {
        font-size: 1.875rem;
    }
    .sec-gift {
        width: 100%;
        height: 100vh;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        // margin: 10px;
    }
    .gift_card .gift_text p {
        font-size: 1.875rem;
    }
    .service h3 {
        padding: 20px;
        margin-top: 0;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 0 30px;
        .card p {
            margin-top: 10px;
            font-size: 19px;
            text-align: center;
        }
    }
    .sec-bestseller {
        max-width: 100%;
        display: flex;
        font-family: Arial, sans-serif;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .sec-g__cont {
            background-color: #f9f9f9;
            border-radius: 20px;
            padding: 20px;
            margin-right: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
        .sec-g__tit {
            font-size: 30px;
            color: #123456;
            padding: 0 50px;
            margin-bottom: 90px;
        }
    }
}

// desktop
@media screen and (min-width: 1024px) {
    .slide-intro {
        .swiper-slide {
            img {
                height: 100vh;
            }
            .text-area {
                width: 100%;
                max-width: none;
                text-align: left;
            }
            .text-area__tit {
                font-size: 6rem;
            }
            .text-area__cont {
                font-size: 2rem;
            }
            .text-area__goto {
                margin-top: 30px;
            }
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}

.slide-studio {
    overflow: visible;
    margin-left: 0;
    .swiper-pagination {
        bottom: -50px;
    }
}
