// 사이트 컨텐츠 내용
.slide-intro {
    .swiper-slide {
        position: relative;
        &.swiper-slide-active {
            .text-area {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }

        img {
            object-position: 50% 100%;
        }
        .text-area {
            position: absolute;
            top: 80%;
            left: 40%;
            transform: translate(-50%, 0);
            width: 70%;
            max-width: 400px;
            opacity: 0;
            transition: all 0.5s;
            // .text-area__tit
            &__tit {
                font-size: 2.6rem;
                color: $white;
                font-family: 'GmarketSansMedium';
                font-weight: $font-medium;
            }
            &__cont {
                color: $white;
                font-size: 18px;
            }
            &__goto {
                font-size: 12px;
                display: inline-block;
                margin-top: 10px;
                padding: 5px 20px;
                background: $primary-80;
                color: $white;
                border-radius: 7px;
            }
        }
        img {
            height: 70vh;
        }
    }
    .swiper-pagination {
        display: none;
    }
}

.best h3 {
    color: $primary-80;
}

.face_type {
    .face_title h3 {
        color: $primary-80;
    }
    .type_img p {
        font-size: 15px;
        color: $gray-80;
        margin-left: 10px;
    }
}

// title : shop

.category_card {
    .category_img img {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        border-radius: 15px;
    }
    .category h3 {
        font-size: 25px;
        color: $primary-80;
        height: 58px;
    }
    .category_info {
        color: #fff;
    }
    .category_info h3 {
        font-size: 16px;
        font-weight: bold;
    }
    .category_info p {
        font-size: 12px;
    }
}

// gift card
.gift_card {
    .gift_title h3 {
        font-size: 25px;
        color: $primary-80;
        height: 58px;
    }

    .gift_card .holiday_video {
        width: 100%;
        height: auto;
        background-size: cover;
        border-radius: 15px;
        transition: opacity 0.3s ease;
    }
    .gift_text p {
        font-size: 13px;
    }
}

// service
.service {
    .service_main {
        width: 390px;
    }
    .service_main h3 {
        font-size: 25px;
        color: $primary-80;
    }
    .ser_item img {
        width: 150px;
        height: 150px;
    }
}

// tablet
@media screen and (min-width: 600px) {
    .slide-intro .swiper-slide img {
        height: 70vh;
    }
}

// desktop
@media screen and (min-width: 1024px) {
    .slide-intro {
        .swiper-slide {
            img {
                height: 70vh;
            }
            .text-area {
                width: 100%;
                max-width: none;
                text-align: left;
            }
            .text-area__tit {
                font-size: 6rem;
            }
            .text-area__cont {
                font-size: 2rem;
            }
            .text-area__goto {
                margin-top: 30px;
            }
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
}

.slide-studio {
    overflow: visible;
    margin-left: 0;
    .swiper-pagination {
        bottom: -50px;
    }
}
